.regApp{

    background-color: #eeeeee;
    background-size: 100% 100%;
    /* background-image: url('../../images/stacked-peaks-haikei.svg'); */
}
.cardapp{
    padding-top: 10px
}
.heading1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.btn2{
    height: 2rem;
    padding:0 9rem;
    border-radius: 1rem;
    background: linear-gradient(-45deg,#74ead2, #9925ea,#9dade7);
    background-size: 400%;
    color: #ffffff;
    transition: background 0.8s;
    font-size: 0.9rem;
}
.btn:hover{
    background-position:185% 50% ;
    color: #ffffff;
}

.reglastp{
    text-align: center;
    font-size: 14px;
    
}
.regspan{
    text-decoration: underline;
    font-weight: bold;
}

.regicon{
    text-align: center;
    font-size: 90px;
    color: #b761f5;
    margin-bottom: 0;
}
@media screen and (max-width:480px) {
    .btn2{
        height: 2rem;
        padding: 0 2rem;
        border-radius: 1rem;
        background: linear-gradient(-45deg,#74ead2, #9925ea,#9dade7);
        background-size: 400%;
        color: #ffffff;
        transition: background 0.8s;
        font-size: 0.9rem;
    }
}