.navlog{
  color: black;
}
.navbarbg{
  background-color: #24252a;
  
}
.nav-link {
  border-radius: 10px;
  color: blueviolet;
   margin:5px 5px
}

.nav-link.active{
  color: white !important;
  background-color: blueviolet !important;
  border-radius: 20px !important;
}

@media screen and (maxWidth:813px) {
  
  
}
